<!-- PAGE HEADER -->
<h2>Create New Promotion</h2>

<!-- FORM -->
<!-- pass in the variable if our form is valid or invalid -->
<form name="promoForm" ng-submit="submitForm(promoForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

	<!-- NAME -->
	<div ng-class="{ 'has-error' : promoForm.name.$invalid && !promoForm.name.$pristine }">
		<label>Name (required)</label>
		<input type="text" name="name" id="name" ng-model="promoData.name" ng-required="true">
		<small ng-show="promoForm.name.$invalid && !promoForm.name.$pristine" class="error">promo name is required.</small>
	</div>

	<div ng-class="{ 'has-error' : promoForm.mid.$invalid && !promoForm.mid.$pristine }">
		<label>Merchant ID (required)</label>
		<input type="text" name="mid" id="mid" ng-model="promoData.mid" ng-minlength="8" ng-required="true">
		<small ng-show="promoForm.mid.$error.minlength" class="error">Merchant ID is too short.</small>
	</div>
	
	<div>	
		<label>Description</label>
		<input type="text" name="desc" id="desc" ng-model="promoData.desc">
	</div>
	
	<div>	
		<label>Creative ID</label>
		<input type="text" name="cid" id="cid" ng-model="promoData.cid">
	</div>
	
        <div>	
		<label>Go Live Date</label>
		<input type="date" name="desc" id="desc" ng-model="promoData.goLive">
	</div>
	
        <div>	
		<label>End Time</label>
		<input type="date" name="endTime" id="endTime" ng-model="promoData.endTime">
	</div>
	
	<!-- SUBMIT BUTTON -->
	<button type="submit" class="btn btn-primary">Submit</button>
	
</form>

<!--
{{ (promoData.name.$error==false) + (promoData.username.$error==false)+ (promoData.email.$error==false)   }}
{{ keys(promoData.$error) }}

<div class="nice round success alert large-10">
	<span class="meter" style="width: 30%"></span>
</div>
-->


<!--
	angular's / HTML's attributes for input

<input
   ng-model="{ string }"
   name="{ string }"
   required
   ng-required="{ boolean }"
   ng-minlength="{ number }"
   ng-maxlength="{ number }"
   ng-pattern="{ string }"
   ng-change="{ string }">
</input>
-->