<h3> Edit Promotion </h3>

<h5>{{old.id}}:{{old.name}}</h5>


<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

	<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
		<label>Name (required)</label>
		<input type="text" name="name" id="name" ng-model="promoData.name" required>
		<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : userForm.mid.$invalid && !userForm.mid.$pristine }">
		<label>Merchant ID (required)</label>
		<input type="number" name="mid" id="mid" ng-model="promoData.mid" ng-minlength="8" ng-maxlength="8">
		<p ng-show="userForm.mid.$error.minlength" class="help-block">Merchant ID is too short.</p>
		<p ng-show="userForm.mid.$error.maxlength" class="help-block">Merchant ID is too long.</p>
	</div>
	
	<div class="form-group">	
		<label>Description</label>
		<input type="text" name="desc" id="desc" ng-model="promoData.desc">
	</div>
	<div class="form-group">	
		<label>Creative ID</label>
		<input type="number" name="cid" id="cid" ng-model="promoData.cid">
	</div>
        <div class="form-group">	
		<label>Go Live Date</label>
		<input type="date" name="desc" id="desc" ng-model="promoData.goLive">
	</div>
        <div class="form-group">	
		<label>End Time</label>
		<input type="date" name="endTime" id="endTime" ng-model="promoData.endTime">
	</div>
	<!-- SUBMIT BUTTON -->
	<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
	
</form>