<!-- this is an almost exact copy of CreateTemplate -->
<h2> Edit Promotion </h2>

<h5>{{old.id}}:{{old.name}}</h5>

<form name="promoForm" ng-submit="submitForm(promoForm.$valid)" novalidate> 

	<div ng-class="{ 'has-error' : promoForm.name.$invalid && !promoForm.name.$pristine }">
		<label>Name (required)</label>
		<input type="text" name="name" id="name" ng-model="promoData.name" ng-required="true">
		<small ng-show="promoForm.name.$invalid && !promoForm.name.$pristine" class="error">promo name is required.</small>
	</div>

	<div ng-class="{ 'has-error' : promoForm.mid.$invalid && !promoForm.mid.$pristine }">
		<label>Merchant ID (required)</label>
		<input type="text" name="mid" id="mid" ng-model="promoData.mid" ng-minlength="8" ng-required="true">
		<small ng-show="promoForm.mid.$error.minlength" class="error">Merchant ID is too short.</small>
	</div>
	
	<div class="form-group">	
		<label>Description</label>
		<input type="text" name="desc" id="desc" ng-model="promoData.desc">
	</div>
	<div class="form-group">	
		<label>Creative ID</label>
		<input type="number" name="cid" id="cid" ng-model="promoData.cid">
	</div>
        <div class="form-group">	
		<label>Go Live Date</label>
		<input type="date" name="desc" id="desc" ng-model="promoData.goLive">
	</div>
        <div class="form-group">	
		<label>End Time</label>
		<input type="date" name="endTime" id="endTime" ng-model="promoData.endTime">
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
</form>