<h3>Angular!</h3>

<p>this app demonstrates some simple CRUD, three main pages:</p>
<ul>
	<li>view promos</li>
	<li>new promo</li>
	<li>edit promo</li>
</ul>

<p>
	enumeration of routes, their templates, and their controllers is handled in routeProvider in app.config<br>
	each page is pulled from a template HTML file, which contain may contain just plain HTML or minor angular logic<br>
	the controllers outline simple rules associated with a view, and scope management<br>
	services/factories are used for more heavy lifting, in this example they're used for handing http requests
</p>
