<div>
	<button type="button" class="tiny button" ng-click="getPromoData()">populate all promo data</button>
	
	<!--
	<input type="text" style="width: 200px; float: right" ng-model="queryMid" placeholder="mid"/>
	<button type="button" style="float: right" class="tiny button" ng-click="getSpecificPromoData(midQuery)">populate promo data</button>
	-->
	
	<label>filter by name <input type="text" ng-model="testFilter.name"/></label>
	<label>filter by promoid<input type="text" ng-model="testFilter.pid"/></label>
	<table class="table table-striped" style="text-align:left">
		<tr>	
			<th ng-repeat="(key, value) in promos[0]"> {{key}} </th> 
		</tr>
		
		<tr ng-repeat="promo in promos | filter: testFilter">	
			<td ng-repeat="(key, value) in promo"> {{value}} </td>
			<td><a ng-href="#edit/{{promo.pid}}">edit</a></td>
		</tr>
	</table>
	<h4> raw data in $scope.promos:</h4>
	<p style="width: 500px"> {{promos}} </p>
</div>